<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Images</title>
</head>
<body>
    <h1>All Uploaded Images</h1>
    {{#if imageUrls.length}}
        {{#each imageUrls}}
            <div>
                <img src="{{this}}" alt="Uploaded Image" style="max-width: 300px; margin: 10px;">
            </div>
        {{/each}}
    {{else}}
        <p>No images found.</p>
    {{/if}}
</body>
</html>