{{!-- <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{> header}}
    <ul>
        {{#each users}}
            <li>
                <h2>Username: {{username}}</h2>
                <p>Date: {{date}}</p>
                <p>Subject: {{subject}}</p>
            </li>
        {{/each}}
    </ul>
</body>
</html> --}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    {{> header}} <!-- Use the registered partial -->
    <h2>Welcome to the Home Page</h2>
    <p>This is the homepage content.</p>
</body>
</html>
